* {
    font-family: 'Montreal', sans-serif;
}

h1 {
	font-size: 70px;
	font-weight: bold;
}

h2 {
	font-weight: medium;
	font-size: 35px;
}

p {
	font-size: 25px;
	font-weight: medium;
	margin-bottom: 0;
}

.col-md-6 {
	padding: 0px;
}

.Rij img {
	display: block;
	width: 100%;
	height: 770px;
	object-fit: cover;
}

.Rij {
	height: 770px;
}

.Tekst {
	color: #79D2C6;
	text-align: center;
}

.header {
	background-color: #79D2C6;
}

.header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #79D2C6;
}

.header nav ul li {
	float: left;
}

.header nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	height: 80px;
}

.header nav ul li a:hover {
	background-color: white;
	color: #79D2C6
}

.knop {
	background-color: #79D2C6;
	border: none;
	color: white;
	padding: 25px 100px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	border-style: solid;
	border-color: #79D2C6;
	border-width: 10px;
}

.knop:hover {
	text-decoration: none;
	color: #79D2C6;
	background-color: white;
	border-style: solid;
	border-color: #79D2C6;
	border-width: 10px;
}

.footer a {
	color: white;
	width: 100%;
}

.footer {
	background-color: #79D2C6;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer img {
	max-width: 35px;
	margin-left: 30px;
}

.footer p {
	padding-left: 10px;
	font-size: 24px;
	font-weight: 900;
	margin-bottom: 0px;
}

.Tekst p {
	padding-left: 50px;
	padding-right: 50px;
}

.dik {
	font-weight: bold;
}

.telefoon,
.adres {
	margin-top: 25px;
}

h4 {
	font-size: 35px;
	font-weight: 900;
	color: darkslategray;
	margin-left: 30px;
	margin-top: 15px;
}

.metmargin {
	margin-top: 25px;
	margin-bottom: 25px;
}